header{
    background-color: #b7ddf8;
    text-align: center;
    font-size: 1.4vw;
    padding: 10px;
}

.cartao__conteudo{
    padding: 20px;
    border: 1px solid #21618c;
    border-radius: 2px;
    box-shadow: 0 4px 6px #acbbc5;
    transition: transform 0.2s;
    background-color: #d6eaf8 ;
    margin: 20px 10px;
}

.cartao__conteudo:hover{
    transform: scale(1.02);
}